@font-face {

    font-family: 'Roman SD';
    src: url('Roman SD.ttf');
}

body{
			margin: auto;
			width: 900px;
			font-family: Roman SD;
}

table {
	width: 900px;

}

tr, td {
	background-color: white;
	border-radius: 5px;
	padding: 6px;
	font-size: 20px;
	text-align: center;
	filter: alpha(opacity=90);
  /* IE */
  -moz-opacity: 0.9;
  /* Mozilla */
  opacity: 0.9;
}


#Nom{
	position: relative;
		text-align: center;
		font-size: 25px;
		border: 1px solid black;
		border-radius: 5px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		background-image:url(res/italie.jpg);
		 font-family: Courier;
	}

#pi {
	float: left;
	margin: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



#Nom{
		text-align: center;
	}

html{
    background: url("res/back.jpg")  center center #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#logo{

}

#list{
		border: 3px solid black;
		border-radius: 3em;
		width: 150px;
		display: block;
		margin-top: 50px;
}

#open{
		text-align:right;
		font-size: 50px;
		float: right;

		
}

#command{
			border: 3px solid black;
			border-radius: 3em;
			width: 170px;
			display: block;
			margin-top: 50px;
			text-align: center;
			


}

#stefano{

}

#text{
		margin-top:150px;
		border: 4px solid black;
		border-radius: 10%;
		margin-left: 500px;
		width: 500px;
		height: 250px;
		text-align: center;

}

#box {
		border: 4px solid black;
		float: right;
		display: block;
		width: 200px;
		height: 150px;
		border-radius: 3em;
		text-align: center;

}

#book{
		border: 4px solid black;
		float: right;
		display:block;
		width: 200px;
		height: 115px;
		clear: both;
		border-radius: 3em;
		text-align: center;

}

#command{

}

#stefano{

}

#open{ position: relative;
	top: 20px;
	margin-right: 20px;
		font-size: 50px;
		float: right;
		display: block;
		clear: both;
		position: relative;
		text-align: center;
		font-size: 25px;
		border: 1px solid black;
		border-radius: 5px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		 font-family: Courier;
		 background-color: rgba(255, 255, 255, 0.6);
}
#photo{

}

#nom{

}

#ingredient{

}

#size{

}

#prix{

}

#phone{

}

#valid{ 
	clear: both;
	border: 2px solid black;



}

#cb{
	border: 1px solid black;
	width: 150px;
	height: 100px;
	display: inline-block;
	clear: both;
	float: left;

}

#pay{
	border: 1px solid black;
	width: 150px;
	height: 100px;
	float: right;
}

#lcommand{
clear: both;
border: 1px solid black;

}