html{
    background: url("res/back.jpg") center center #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#logo{

}

#list{
		border: 1px;

}

#open{
		border: 1px;
		
}

#command{

}

#stefano{

}

#text{

}

#box {

}

#book{

}

#book{

}

#command{

}

#stefano{

}

#text{

}

#box{

}

#book{

}

#photo{

}

#nom{

}

#ingredient{

}

#size{

}

#prix{

}

#phone{

}

#valid{

}

#cb{

}

#pay{

}

#lcommand{

}