html{
    background: url("res/back.jpg")  center center #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

body{
			margin: auto;
			width: 900px;
			font-family: Roman SD;
}

#valid{ 
	clear: both;
	border: 1px solid black;
	text-align: center;
	background-color: ;

}

#cb{
	border: 1px solid black;
	width: 200px;
	height: 250px;
	display: inline-block;
	clear: both;
	float: left;
	margin-top: 60px;
	text-align: center;
	background-color: ;

}

#pay{
	border: 1px solid black;
	width: 200px;
	height:250px;
	float:right;
	margin-top: 60px;
	text-align: center;
	background-color: ;
	margin-bottom: 60px;
}

#lcommand{
clear: both;
border: 1px solid black;
text-align: center;
background-color: ;


}

