#pi {
	float: left;
	margin: 10px;
}


#Nom{
	position: relative;
		text-align: center;
		font-size: 25px;
		border: 1px solid black;
		border-radius: 5px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		background-image:url(res/italie.jpg);
		 font-family: Courier;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}





#valid{ 
	
	border: 2px solid black;
	text-align: center;
	background-color:rgba(255, 255, 255, 0.6); 
	font-family: Montserrat;
}

#cb{
	border: 1px solid black;
	width: 200px;
	height: 250px;
	display: inline-block;
	
	float: left;
	margin-top: 50px;
	text-align: center;
	background-color:rgba(255, 255, 255, 0.6);
	font-family: Montserrat;

}

#pay{
	border: 1px solid black;
	width: 200px;
	height:  250px;
	float: right;
	margin-top: 50px;
	text-align: center;
	background-color:rgba(255, 255, 255, 0.6);
	font-family: Montserrat;
}

#lcommand{
border: 1px solid black;
margin-top: 45px;
float: bottom;
text-align: center;
background-color:rgba(255, 255, 255, 0.6);
font-family: Montserrat;
}

html{
    background: url("res/backcom.png")  center center #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
}

body{
			margin: auto;
			width: 900px;
			
}